{% load static %}

<center><h1>sign in </h1></center> 


<form action="" method="post">

    <input type="text" name="firstname" placeholder="first name" required/>
    <input type="text" name="lastname" placeholder="last name" required/>
    <input type="email" name="useremail" placeholder="email address" required/>
    <input type="password" name="upassword" placeholder="password" required/>
    <button type="button" value="submit">submit</button>
</form>

<h4>not registered ? <a href="register">sign up here</a></h4>