{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
      

<div class="container-fluid">
    <div class="row ms-3">
        <div class="col-lg-11">
          

            <div class="row">
                <div class="col-lg-1  leftbg">
                </div>
                <div class="col-lg">
                    <div class="row bgimg">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg headsection">
                                    <h1>STUDENT <span class="assg">ASSIGNMENT</span></h1>
                                    <h2>MANAGEMENT <span class="sys">SYSTEM</span></h2>
                                    <P>Lorem ipsum dolor, sit amet consectetur adipisicing eleum!</P>
                                    <button class="fbtn">Learn More</button>
                                </div>
                            </div>

                            <div class="row container1">
                                <div class="col-lg-6 bg-secondary box1">
                                    <h2 class="">Lorem ipsum</h2>
                                    <p class="">Lorem ipsum dolor</p>
                                    <p class="">sit amet, consectetur sit</p>
                                </div>

                                <div class="col-lg  box2 px-3">
                                    <div class="row">
                                        <div class="col-lg">
                                           <p class="box2p b">Search for</p>
                                        </div>
                                        <div class="col-lg">
                                            <p class="text-end"><a href="">click here</a></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                            <p class="box2p2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, et excepturi laboriosam</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                            <p class="text-end box2p">Lorem ipsum </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 box3 ps-4">
                            <h4>Lorem ipsum</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>

                            <div class="row imgrow">
                                <div class="col-lg text-end">
                                    <img class="pt-4" src="{% static 'images/ic1.png' %}" alt="icon1" width="60">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 box4">
                            <h4>Lorem ipsum</h4>
                            <p>Lorem ipsum, dolor sit amet consecmet nam alias incimet consecmet nam alias inci dunt ea?</p>

                            <div class="row imgrow">
                                <div class="col-lg text-end">
                                    <img class="pb-3" src="{% static 'images/ic2.png' %}" alt="icon1" width="60">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 box5 ">
                            <h4>Lorem ipsum</h4>
                            <p>Lorem ipsum, dolor sit amet consecmet nam alias incimet consecmet nam alias inci dunt ea?</p>

                            <div class="row imgrow">
                                <div class="col-lg text-end">
                                    <img src="{% static 'images/ic3.png' %}" alt="icon1" width="50">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg bg-light box6">
                           <img src="{% static 'images/ic4.png' %}" alt="" width="100">
                           <p class="text-dark">+91 9826454673</p>
                           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam</p>
                        </div>
                    </div>

                    <div class="row bottombg">
                        <div class="col-lg-7">
                            <p class="pt-5">@Lorem ipsum dolor, sit amet consectm ipsum dolor, sit ametur adipisicing elit. Aperiam </p>
                        </div>
                        <div class="col-lg pt-5 text-end">
                            <a href="" class="cont">contact us</a>
                        </div>
                    </div>
                </div>

                </div>
            </div>

        <div class="col-lg ms-5">
            <div class="row one">
                <div class="col-lg">

                </div>
            </div>
            <div class="row two">
                <div class="col-lg">
                  
                </div>
            </div>
        </div>
    </div>
 </div>

{% endblock %}